<div class='container'>
  <div class='row title-box hidden-sm-down'>
    <div class='col-lg-8 offset-lg-2'>
      <h2 class='subtitle'>The easiest way to convert coins! Try it yourself.</h2>
    </div>
  </div>
  
  <div class='row main'>
    <div class='col-lg-4 offset-lg-1 col-md-10 offset-md-1 exchange_box'>
      <div class='row'>
          <div class='col-md-8 offset-md-2 text-sm-center'>
            <%= image_tag '/logo.png', class: 'img-fluid'%>
          </div>
      </div>

      <div class='row'>
        <%= render 'exchange_box' %>
      </div>
    </div>
  </div>
</div>